

body {
    background-color: rgb(238, 66, 66);
    margin: 0px;
}

header {
    background-color: rgb(255, 255, 255);
}
main {
    background-color: #fff;
}
footer {
    background-color: #f2f2f2;
}

.grid-container {
    display: grid;
    grid-template-rows: 50px 80% auto;
    height: 100vh;
}

.header-div-1 {
    display: flex;
    flex-direction: row;
    justify-content:  right;
    height: 50px;
}

.header-div-2 {
    height: 100%;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#header-end {
    margin-right: 25px;
}

a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: rgba(0,0,0,0.87);
}

a:hover {
    text-decoration: underline;
    opacity: .85;
}

.box {
    background-color: darkcyan;
    border-radius: 3px;
    width: 32px;
    height: 32px;
}

.search-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-box {
    display: flex;
    flex-direction: row;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    margin: 15px;
    background-color: #fff;
}

.search-box:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.search-box>input {
    width: 550px;
    border: none;
}

#left-button {
    background-color: darkslategray;
    height: 44px;
    margin-left: 16px;
    border: none;
}

#right-button {
    height: 44px;
    margin-right: 16px;
    width: 20px;
    border: none;
    background-image: url(images/tia.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

.google-logo>img {
    padding-top: 10px;
    width: 272px;
    height: 92px;
}

#search-button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    color: #5F6368;
}

#feeling-lucky {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    color: #5F6368;
}

#search-button:hover{
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#feeling-lucky:hover {
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}





